!!! 5
%head
  %title RPI<->Arduino IO
  %script{ :src => 'zepto.min.js' }
  %script{ :src => 'zepto.cookie.min.js' }
%body
  %h1 RPI<->Arduino IO from RPi: #{(defined? hostname) ? hostname : ''} version #{(defined? version) ? version : ''}
  %table
    %tr
      %td Prefix to Send:
      %td 
        %input#prefix_input{:type => 'text', :value => 'pre' }
    %tr
      %td{:colspan => '2'}
        %button{:id => 'prefix_submit'}
          Send Prefix to Arduino
    %tr
      %td Last Prefix Sent:
      %td#prefix_sent
        Never Sent
  %h2 Last 15 Messages from Arduino. Descending Time
  %ul#message_list
  %script{ :src => 'index.js' }

